body {
    background: grey;
   }
   #main {
     background: #E0E0E0;
     border-radius: 10px;
     margin: 25px 10px;
     text-align: center;
     padding: 20px;
   }
   #title {
     padding-top: 40px;
   }
   #img-div {
     background: white;
     padding: 5px;
   }
   #image {
     max-width: 100%;
     height: auto;
     display: block;
     margin: auto;
   }
   #img-caption {
     padding: 10px;
   }
   ul {
     max-width: 600px;
     text-align: left;
     margin: 0 auto;
   }
   li {
     margin: 10px
   }
   #tribute-info {
     padding-top: 20px;
   }
   blockquote {
     font-style: italic;
     padding-top: 20px;
   }